---
import Layout from '~/layouts/Layout.astro';
import Wrapper from '~/components/wrapper.astro';
import Heading from '~/components/text/heading.astro';
import PostList from '~/components/post-list.astro';
import Link from '~/components/link.astro';
---

<Layout title="notes" description="Notes from fvrests.">
	<Wrapper>
		<Heading Element="h1">Notes</Heading>
		<PostList />
		<div class="h-xs"></div>
		<Link href="/notes/tags">Browse by tag&nbsp;&nbsp;&Rarr;</Link>
	</Wrapper>
</Layout>
