---
import { Image } from 'astro:assets';
import Layout from '~/layouts/Layout.astro';
import Wrapper from '~/components/wrapper.astro';
import Heading from '~/components/text/heading.astro';
import Paragraph from '~/components/text/paragraph.astro';
import Subheading from '~/components/text/subheading.astro';
import Link from '~/components/link.astro';
import bio from '~/assets/bio.jpeg';

import Cancer from '~/components/icons/cancer.astro';
import Leo from '~/components/icons/leo.astro';
import Scorpio from '~/components/icons/scorpio.astro';
---

<Layout
	title="about"
	description="fvrests is a science graduate and developer who is interested in building resources for a better community and world."
>
	<Wrapper>
		<Image
			src={bio}
			alt="Lynn - a grayscale photo of a long-haired woman in a white crewneck sweatshirt. In the background is an outdoor plaza with stone pavement and small café tables."
			class="mb-md w-36 rounded-xl sm:relative sm:top-1 sm:float-left sm:mb-4 sm:mr-12"
		/>
		<Heading Element="h1">About the developer</Heading>
		<Paragraph>
			I'm a biology & psychology grad with a day job in the home contracting
			industry, but I dream of finding a home in tech where I can contribute to
			building ethically and environmentally responsible resources for
			collective support.
		</Paragraph>
		<Paragraph>
			I love oat lattes, minimalism, pair programming with <span
				class="whitespace-nowrap"
				><Link href="https://mellow.dev" underline>@mvllow</Link>,</span
			> and exploring personal disciplines. Some of these at the moment include sustainable
			living, vegan ethics, balcony gardening, car-free travel, running, and yoga
			practice.
		</Paragraph>
		<Paragraph>
			Please feel welcome to reach out through <Link
				href="https://mastodon.social/web/@fvrests"
				underline
			>
				Mastodon
			</Link>&nbsp;or <Link href="mailto:fvrests@icloud.com" underline>
				email
			</Link>.
		</Paragraph>
		<div class="h-sm"></div>
		<Heading Element="h2">Miscellany</Heading>
		<div class="grid grid-flow-row grid-cols-1 gap-4 md:grid-cols-2">
			<div>
				<Subheading Element="h3">Pronouns</Subheading>
				<Paragraph>She / her</Paragraph>
			</div>
			<div>
				<Subheading Element="h3">Listening</Subheading>
				<Paragraph>
					Yuna //
					<Link
						href="https://www.youtube.com/watch?v=JRtwYJM3gJ8&lc=UgwLqw1Uu72EPn1n2gV4AaABAg"
						underline
					>
						People
					</Link>
				</Paragraph>
			</div>
			<div>
				<Subheading Element="h3">Signs</Subheading>
				<Paragraph Element="div">
					<ul>
						<li class="flex items-center space-x-2">
							<Cancer size={16} />
							<span>Sun in Cancer</span>
						</li>
						<li class="flex items-center space-x-2">
							<Leo size={16} />
							<span>Moon in Leo</span>
						</li>
						<li class="flex items-center space-x-2">
							<Scorpio size={16} />
							<span>Scorpio Rising</span>
						</li>
					</ul>
				</Paragraph>
			</div>
			<div>
				<Subheading Element="h3">Reading</Subheading>
				<Paragraph>
					Bernd Heinrich //
					<Link
						href="https://literal.club/book/bernd-heinrich-why-we-run-6pelg"
						underline
					>
						Why We Run
					</Link>
				</Paragraph>
				<Paragraph>
					(<Link href="https://literal.club/oat/" underline>
						literal.club: @oat
					</Link>)
				</Paragraph>
			</div>
		</div>
		<div class="h-xl"></div>
		<Link href="/">&Larr;&nbsp;&nbsp;Back home</Link>
	</Wrapper>
</Layout>
