---
import Layout from '~/layouts/Layout.astro';
import Wrapper from '~/components/wrapper.astro';
import Heading from '~/components/text/heading.astro';
import Subheading from '~/components/text/subheading.astro';
import Paragraph from '~/components/text/paragraph.astro';
import Link from '~/components/link.astro';
import PostList from '~/components/post-list.astro';
---

<Layout title="home" description="a portfolio for fvrests.">
	<Wrapper>
		<Heading Element="h1">Hi, I'm Lynn</Heading>
		<Paragraph>
			I'm exploring front-end development, accessibility & open source.
		</Paragraph>
		<Paragraph>
			I'm searching for meaningful involvement in projects and communities
			supporting social and ecological justice and sustainability.
		</Paragraph>

		<div class="h-xs"></div>
		<Link href="/about">Biography&nbsp;&nbsp;&Rarr;</Link>

		<div class="h-lg"></div>
		<Subheading Element="h2">Notes</Subheading>
		<PostList max={3} />

		<div class="h-xs"></div>
		<Link href="/notes">All notes&nbsp;&nbsp;&Rarr;</Link>
	</Wrapper>
</Layout>
