---
// import NationalPark from '~/components/icons/national-park.astro';
import Link from '~/components/link.astro';
import Wrapper from '~/components/wrapper.astro';

const { title } = Astro.props;
let path = Astro.url.pathname;
if (path.charAt(path.length - 1) == '/') {
	path = path.slice(0, -1);
}
let subpaths = path.split('/').slice(0, -1);
let isHome = path == '/';

console.log({ subpaths });

let subpathList = subpaths.reduce(
	(acc, subpath, i) => [
		...acc,
		{
			text: subpath == '' ? 'home' : subpath,
			link: subpaths.slice(0, i + 1).join('/') || '/',
		},
	],
	[] as { text: string; link: string }[]
);
---

<header class="sticky top-0 z-20 mt-xl bg-background py-4">
	<nav>
		<Wrapper>
			<ul class="inline-grid grid-flow-col items-start space-x-2">
				{
					!isHome &&
						subpathList.map((subpath) => (
							<>
								<li>
									<Link href={subpath.link} color="f-low">
										{subpath.text}
									</Link>
								</li>
								<span>/</span>
							</>
						))
				}
				<li>
					<Link href="#">{title}</Link>
				</li>
			</ul>
		</Wrapper>
	</nav>
</header>
